* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  height: 100vh;
}

#canvas {
  background-color: white;
}

.tooltip {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1em 1em;
  border-radius: 10px;
  border: black 1px solid;
  background-color: rgba(255, 255, 255, 0.9);
}

.circle {
  fill: rgba(255, 166, 166, 0.8);
  stroke: rgba(0, 0, 0, 0.6);
}

.circle:hover {
  transition: all ease-in-out 0.2s;
  fill: rgba(255, 110, 74, 0.8);
  stroke: rgba(0, 0, 0, 0.8);
}
